body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.contain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px 3px;
    width: 80%;
    margin: auto;
}
.box1{
    height: 80px;
    border: 2px solid rgb(232, 248, 2);
    background: rgb(75, 75, 189);
    /* margin-left: 5px; */
    font-size: 35px;
    padding: 10px;
}