body{
    margin: 50px;
    padding: 0;
    font-family: sans-serif;
    background: rgb(195, 216, 216);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(95, 147, 172);
    width: 30%;
    margin: auto;
    padding: 25px;
}
img{
    width: 15vh;
    height: 15vh;
    border-radius:50%;
}
.pic,h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputicon input[type="text"]{
    padding-left: 30px;
    position:relative;
    width: 100%;
    box-sizing: border-box;
}
.inputicon input[type="password"]{
    padding-left: 30px;
    position:relative;
    width: 100%;
    box-sizing: border-box;
}
.font{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.inputicon i{
    position: absolute;
    left:38%;
    width: 10%;
    margin-top: 2vh;
}
.inputicon{
    margin-bottom: 5px;
    
}
.format{
    width: 100%;
    background: rgb(46, 41, 41);
    color: white;
    box-sizing: border-box;
}
h3{
    color: white;
}
p{
    font-size: 10px;
    text-align: center;
    color: white;
}