body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
table{
    border: 1px solid wheat;
    padding: 60px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5vh;
    background: rgb(243, 240, 235);
}
tr,th,td{
    border-collapse: collapse;
    padding: 15px;
    border: 5px solid rgb(222, 231, 238);
    text-align: center; 
    font-weight: bold;
}
tr td{
    color: rgb(34, 34, 243);
}
tbody tr:nth-child(even){
    background: rgb(120, 181, 252);
   
}
thead tr{
    background: rgb(6, 117, 168);
    color: white;
}
.letter h1{
    text-align: center;
}